{{> head}}

{{> navbar }}    

<div class="row">

    <div class="col-8">
        <h1>
            Icono Casa
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum praesentium quaerat quos accusamus nisi culpa, iusto sed eaque magni sit porro quam dolores necessitatibus nam tenetur illum dolore repellat? Voluptatibus.
        </p>
    </div>

    <div class="col-8">
        <img src="assets/image/home.svg" class="img-thumbnail">
    </div>
</div>

{{> footer }}